@font-face {
    font-family: 'yond';
    src: url('./fonts/yond.eot'); /* IE9 Compat Modes */
    src: url('./fonts/yond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/yond.otf') format('opentype'), /* Open Type Font */
    url('./fonts/yond.svg') format('svg'), /* Legacy iOS */
    url('./fonts/yond.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/yond.woff') format('woff'), /* Modern Browsers */
    url('./fonts/yond.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'agencyfb-regular';
    src: url('fonts/AGENCYR.eot'); /* IE9 Compat Modes */
    src: url('fonts/AGENCYR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/AGENCYR.otf') format('opentype'), /* Open Type Font */
    url('fonts/AGENCYR.svg') format('svg'), /* Legacy iOS */
    url('fonts/AGENCYR.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/AGENCYR.woff') format('woff'), /* Modern Browsers */
    url('fonts/AGENCYR.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'agencyfb-bold';
    src: url('fonts/AgencyFB-Bold.eot'); /* IE9 */
    src: url('fonts/AgencyFB-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/AgencyFB-Bold.otf') format('opentype'), /* Open Type Font */
    url('fonts/AgencyFB-Bold.svg') format('svg'), /* Legacy iOS */
    url('fonts/AgencyFB-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/AgencyFB-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/AgencyFB-Bold.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bankgothic-regular';
    src: url('fonts/bankgothic-regular.eot'); /* IE9 */
    src: url('fonts/bankgothic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/bankgothic-regular.otf') format('opentype'), /* Open Type Font */
    url('fonts/bankgothic-regular.svg') format('svg'), /* Legacy iOS */
    url('fonts/bankgothic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/bankgothic-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/bankgothic-regular.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron-medium';
    src: url('fonts/Orbitron-medium.eot'); /* IE9 */
    src: url('fonts/Orbitron-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Orbitron-medium.otf') format('opentype'), /* Open Type Font */
    url('fonts/Orbitron-medium.svg') format('svg'), /* Legacy iOS */
    url('fonts/Orbitron-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Orbitron-medium.woff') format('woff'), /* Modern Browsers */
    url('fonts/Orbitron-medium.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'auto-techno';
    src: url('fonts/auto-techno.eot'); /* IE9 */
    src: url('fonts/auto-techno.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/auto-techno.otf') format('opentype'), /* Open Type Font */
    url('fonts/auto-techno.svg') format('svg'), /* Legacy iOS */
    url('fonts/auto-techno.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/auto-techno.woff') format('woff'), /* Modern Browsers */
    url('fonts/auto-techno.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'auto-techno-italic';
    src: url('fonts/auto-technoitalic.eot'); /* IE9 */
    src: url('fonts/auto-technoitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/auto-technoitalic.otf') format('opentype'), /* Open Type Font */
    url('fonts/auto-technoitalic.svg') format('svg'), /* Legacy iOS */
    url('fonts/auto-technoitalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/auto-technoitalic.woff') format('woff'), /* Modern Browsers */
    url('fonts/auto-technoitalic.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
.font-agencyfb-regular {font-family: 'agencyfb-regular', Calibri, sans-serif;}
.font-agencyfb-bold {font-family: 'agencyfb-bold', Calibri, sans-serif;}
.font-bankgothic-medium {font-family: 'bankgothic-regular', Calibri, sans-serif;}
.font-orbitron-medium {font-family: 'orbitron-medium', Calibri, sans-serif;}
.font-auto-techno {font-family: 'auto-techno', Calibri, sans-serif;}
.font-auto-techno-italic {font-family: 'auto-techno-italic', Calibri, sans-serif;}
