/*  LAYOUT
    * In order of appearance.
    * Panels are closed by default.
    * Adding show-* to <body> opens each panel.
    * HOME is 100% width.
    * Panels push their way onto the screen from the right.
    * Auto-prefixer = Global coverage: 91.8%
*/


/*  PAGE HEADER SEARCH FORM
*/
.global-search-form {
    width: 300px;
    margin-right: 20px;
    -webkit-transition: width 400ms ease;
    -o-transition: width 400ms ease;
    transition: width 400ms ease;
}
.global-search-form.open {width: 400px;}


/*  PAGE HEADER ADVANCED SEARCH PANEL
*/
.advanced-search-panel {
    min-width: 800px;
    margin: 15px 0 0;
    padding: 20px 10px;
   -webkit-box-shadow: 5px 5px rgba(0,0,0,0.1);
   box-shadow: 5px 5px rgba(0,0,0,0.1);
   /* background-color: #2A2C32 */
}


/*  HOME
    Toggle collapsed .home from page-header controls
*/
.home {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 250px;
    margin-left: -250px;
    /* min-height IE11 fix */
    min-height: 1px;
    -webkit-transition: width 750ms ease, margin-left 250ms ease-in-out;
    -o-transition: width 750ms ease, margin-left 250ms ease-in-out;
    transition: width 750ms ease, margin-left 250ms ease-in-out;
}
/* Add .show-home to <body> to open */
.show-home .home {
    width: 100%;
    margin-left: 0;
}
/* When RESULTS is showing resize HOME to 250px */
.show-home.show-results .home {width: 250px;}


/*  FILTER
    Offscreen by default
*/
.filter  {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    /* Varies on logo width TODO: find adaptive solution */
    width: 0;
    /* min-height IE11 fix */
    min-height: 1px;
    -webkit-transition: width 250ms ease;
    -o-transition: width 250ms ease;
    transition: width 250ms ease;
}
/* Add .show-filter to <body> to open */
.show-filter .filter {width: 250px;}


/*  RESULTS
    Offscreen by default
*/
.results {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 0;
    /* max-width from Rick Strahl's support.west.wind.com F12 source code 2019.11.03 */
    max-width: 100%;
    min-width: 200px;
    /* min-height IE11 fix */
    min-height: 1px;
    /* resize: horizontal; */
    -webkit-transition: width 550ms ease;
    -o-transition: width 550ms ease;
    transition: width 550ms ease;
}
/* Add .show-results to <body> to open */
.show-results .results {width: 100%;}


/*  LOADING DATA
    * BUTTON LOADING VISUAL QUE - proof of concept (WIP)
    * Objective: Show LOADING only between when end-user clicks item and PROFILE slides in.
    * Next step: Narrow LOADING to appear only on clicked element (focus or active?).
    * Turn off LOADING by default
*/
/*  Open PROFILE loading animation (existing) 
    Except when .loaded is added to <body>
*/
.show-profile.loading .results table tbody tr.selected .open-profile {
    background:
    /*        https://css-tricks.com/drawing-images-with-css-gradients/
              Three identical 6x1 linear gradient shapes
    */        linear-gradient(#DDD, #DDD) left bottom / 6px 1px no-repeat,
    /*        Solid underline wraps with text
    */        linear-gradient(currentColor, currentColor) bottom / 100% 1px no-repeat;
    /*        Stagerred delay https://css-tricks.com/snippets/css/keyframe-animation-syntax/  */
    -webkit-animation: break01 2s infinite,
                        break02 2s 0.5s infinite,
                        break03 2s 1.0s infinite;
    animation: break01 2s infinite,
                break02 2s 0.5s infinite,
                break03 2s 1.0s infinite;
    -webkit-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
}
@-webkit-keyframes break01 {
    from { background-position: left bottom; }
    to { background-position: right bottom; }
}
@keyframes break01 {
    from { background-position: left bottom; }
    to { background-position: right bottom; }
}
@-webkit-keyframes break02 {
    from { background-position: left bottom; }
    to { background-position: right bottom; }
}
@keyframes break02 {
    from { background-position: left bottom; }
    to { background-position: right bottom; }
}
@-webkit-keyframes break03 {
    from { background-position: left bottom; }
    to { background-position: right bottom; }
}
@keyframes break03 {
    from { background-position: left bottom; }
    to { background-position: right bottom; }
}
.show-profile.loading.loaded .results table tbody tr.selected .open-profile {
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)) left bottom / 6px 1px no-repeat,
                linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)) bottom / 100% 1px no-repeat;
}

/*  Open PROFILE loading animation (new profile)
    Except when .loaded is added to <body>
*/
.show-profile.loading-new .results .open-new::after {
    content:'LOADING New Profile';
    position: absolute;
    opacity: 1.0;
    pointer-events: none;
    -webkit-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
.show-profile.loading-new.loaded .results .open-new::after {opacity: 0.0;}


/*  SPLITTER
    Offscreen by default
*/
.splitter {
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
.show-profile.loading-new.loaded .splitter,
.show-profile.loading.loaded .splitter {
    /* flex-basis px for IE11 */
    -ms-flex: 0 0 10px;
    /* Originally 0 0 10px from Rick Strahl's support.west.wind.com F12 source code 2019.11.03 */
    -webkit-box-flex: 0;
    flex: 0 0 10px;
    /* Use width rather than flex-basis. Compatible with IE and smoother transitions */
    width: 10px;
}
.gutter-horizontal {
    background-repeat: no-repeat;
    background-position: 50%;
    -ms-flex: 0 0 10px;
    -webkit-box-flex: 0;
    flex: 0 0 10px;
}
/*.gutter::after {
  content: '';
  background: rgba(102,204,255,0.5);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/


/*  PROFILE
    Offscreen by default
*/
.profile {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    height: 100%;
    width: 50%;
    margin-right: -50%;
    min-width: 200px;
    /* min-height IE11 fix */
    min-height: 1px;
    -webkit-transition: margin-right 550ms ease;
    -o-transition: margin-right 550ms ease;
    transition: margin-right 550ms ease;
}
/* Add .show-results and .show-profile and .loaded to <body> to open */
.show-results.show-profile.loaded .profile {margin-right: 0;}
/* Add .show-results and .show-profile and .loaded to <body> to open */
.show-results.show-profile.loaded .results {margin-right: 0;}


/*  DETAILS
    Offscreen by default
*/
.details {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    height: 100%;
    width: 300px;
    margin-right: -300px;
    -webkit-transition: margin-right 250ms ease;
    -o-transition: margin-right 250ms ease;
    transition: margin-right 250ms ease;
}
/* Add .show-results and .show-profile and .show-details and .loaded to <body> to open */
.show-results.show-profile.show-details .details {margin-right: 0;}
.simplebar-scrollbar {width: 5px;}
.simplebar-scrollbar::before {
    background: rgba(102,175,233,0.5);
    border-radius: 5px;
}
.details .list-group-item {width: 100%;}


/*  FLEX-ITEM
    Immediate child of .d-flex element
*/
.flex-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}


/*  FULLSCREEN
*/
.fullscreen {
    overflow: hidden;
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}
.fullscreen > .table {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}
.fullscreen > .section-header {padding: 0 10px;}
.fullscreen .modal {z-index: 10060;}
.fullscreen .modal-backdrop {z-index: 10059;}
.fullscreen .close-profile-and-details {display: none;}


/*  NEW ITEM MESSAGE
*/
.show-results .new-item-message {
   margin-top: -30px;
   padding: 0 50px;
   max-width: 800px;
   /* border: solid 1px red; */
   opacity: 1.0;
   -webkit-transition: opacity 250ms ease;
   -o-transition: opacity 250ms ease;
   transition: opacity 250ms ease;
}
/* Show MESSAGE only when RESULTS is open and there is NOT a results table before it */
.new-item-message, 
.show-results #table + .new-item-message {
   pointer-events: none;
   opacity: 0.0;
}
.show-results .new-item-message .arrow {
   margin: 0 0 30px 0;
   color: rgba(102,175,233,1.0);
}
.show-results .new-item-message .bounce {
   -webkit-animation: bounce 2s infinite;
   -moz-animation: bounce 2s infinite;
   animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0); transform: translateY(0);}
   40% {-webkit-transform: translateY(30px); transform: translateY(30px);}
   60% {-webkit-transform: translateY(15px); transform: translateY(15px);}
}
@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0); transform: translateY(0);}
   40% {-webkit-transform: translateY(30px); transform: translateY(30px);}
   60% {-webkit-transform: translateY(15px); transform: translateY(15px);}
}


/*  BRACKETED LINKS
    https://tympanus.net/codrops/2013/08/06/creative-link-effects/
*/
a[data-hover='brackets']::before,
a[data-hover='brackets']::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
a[data-hover='brackets'] {
    text-decoration: none;
}
a[data-hover='brackets']::before {
    margin-right: 5px;
    content: '[';
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px);
}

a[data-hover='brackets']::after {
    margin-left: 5px;
    content: ']';
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px);
}

a[data-hover='brackets']:hover::before,
a[data-hover='brackets']:hover::after,
a[data-hover='brackets']:focus::before,
a[data-hover='brackets']:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}