/*
NOTE ::
Panels are closed by default. 
Adding show-* to <body> opens each panel.
HOME is 100% width.
Panels push their way onto the screen from the right.
*/
/****************************************

	LAYOUT

*****************************************/
/* Immediate child of .d-flex element */
.flex-item {
    flex: 1;
    overflow: hidden;
}



/****************************************

    PAGE HEADER SEARCH FORM

*****************************************/
.global-search-form {
    width: 300px;
    -webkit-transition: width 400ms ease;
    -o-transition: width 400ms ease;
    transition: width 400ms ease;
    margin-right: 20px;
}
.global-search-form.open { width: 400px; }



/****************************************

    PAGE HEADER ADVANCED SEARCH PANEL

*****************************************/
.advanced-search-panel {
    min-width: 800px;
    margin: 15px 0 0;
    padding: 20px 10px;
}



/****************************************

	HOME

*****************************************/
/* Toggle collapsed .home from page-header controls */
/* Closed by default */
.home {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 0;
    min-width: 0;
    min-height: 1px;
    -webkit-transition: width 750ms ease, min-width 250ms ease-in-out;
    -moz-transition: width 750ms ease, min-width 250ms ease-in-out;
    -ms-transition: width 750ms ease, min-width 250ms ease-in-out;
    transition: width 750ms ease, min-width 250ms ease-in-out;
}
/* Add .show-home to <body> to open */
.show-home .home {
    width: 100%;
    min-width: 250px;
}
/* When RESULTS is showing resize HOME to 250px */
.show-home .show-results .home {width: 250px;}



/****************************************

	FILTER

*****************************************/
/* Closed by default */
.filter  {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* Varies on logo width TODO: find adaptive solution */
    width: 0;
    min-height: 1px;
    -webkit-transition: width 550ms ease;
    -moz-transition: width 550ms ease;
    -ms-transition: width 550ms ease;
    transition: width 550ms ease;
}
/*  */
.show-filter .filter {width: 221;}



/****************************************

	RESULTS

*****************************************/
/* Closed by default */
.results {
    flex: 0 0 auto; /* Allows resize to work without jumping. Originally flex: 1 1 auto */
    width: 100%;
    max-width: 100%; /* from Rick Strahl's support.west.wind.com F12 source code 2019.11.03*/
    min-width: 200px;
    min-height: 1px;
    overflow: hidden; /* required for table resize */
    /* resize: horizontal; */
    transition: width 250ms ease;
}
.show-results .home {
    width: 0;
}
.show-results.show-profile .results {
    width: 50%;
}
/* 
BUTTON LOADING VISUAL QUE - proof of concept (WIP) 
Objective: Show LOADING only between when end-user clicks record item and PROFILE slides in.
*/
/* Turn off LOADING by default */
.results .btn::after,
body.show-results.show-profile.loaded .results .toggle-profile::after
 {
    content:'LOADING';
    position: absolute;
    opacity: 0.0;
    transition: opacity 250ms;
    pointer-events: none;
}
/* Except when class .loaded is in <body> */
body.show-results.show-profile .results .toggle-profile::after {
    opacity: 1.0;
}



/****************************************

	SPLITTER

*****************************************/
/* Closed by default */
.splitter {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0; /* flex-basis px for IE11 */
    flex: 0 0 0; /* Originally 0 0 10px from Rick Strahl's support.west.wind.com F12 source code 2019.11.03*/
    width: 0; /* Use width rather than flex-basis. More backwards compatible with IE and smoother transitions */
}
.show-profile .splitter {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10px; /* flex-basis px for IE11 */
    flex: 0 0 auto; /* Originally 0 0 10px from Rick Strahl's support.west.wind.com F12 source code 2019.11.03*/
    width: 10px; /* Use width rather than flex-basis. More backwards compatible with IE and smoother transitions */
}
.gutter-horizontal {
    background-repeat: no-repeat;
    background-position: 50%;
    flex: 0 0 10px;
}



/****************************************

	PROFILE

*****************************************/
/* Closed by default */
.profile {
    flex: 1 1 auto;
    height: 100%;
    width: 0;
    min-width: 0;
    min-height: 1px;
    transition: width 550ms ease;
}
.show-results.show-profile .profile {
    min-width: 100px;
}
/* if (condition) "selector" */
.show-results .profile .loaded {

}



/****************************************

	DETAILS

*****************************************/
/* Closed by default */
.details {
    flex: 0 0 auto;
    height: 100%;
    width: 300px;
    margin-right: -300px;
    transition: margin-right 250ms ease;
}
.show-results.show-profile.show-details .details {margin-right: 0;}

/* old? 2019.11.01 */
.open .results,
.open .profile {flex-basis: 50%;}

.simplebar-scrollbar {width: 5px;}
.simplebar-scrollbar::before {
    background: rgba(102,175,233,0.5);
    border-radius: 5px;
}
.details .list-group-item {
    width: 100%;
}



/****************************************

	FULLSCREEN

*****************************************/
.fullscreen {
    overflow: hidden;
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}
.fullscreen > .table {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}
.fullscreen > .section-header {padding: 0 10px;}
.fullscreen .modal {z-index: 10060;}
.fullscreen .modal-backdrop {z-index: 10059;}
.fullscreen .close-profile-and-details {display: none;}



/*.gutter::after {
  content: "";
  background: rgba(102,204,255,0.5);

  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/



/****************************************

	LOADING DATA

*****************************************/
